@import "../../mixins.scss";

.categories {
  h1 {
    margin: 30px 0;
    text-align: center;

    @include md {
      font-size: 2em;
    }
  }

  .category-items {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    flex-wrap: wrap;
    flex: 1;

    @include md {
      gap: 20px;
      padding: 10px;
    }
  }

  .loading-skeleton {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    flex-wrap: wrap;
    flex: 1;

    @include md {
      gap: 20px;
      padding: 10px;
    }

    .skeleton-item {
      width: 40%;
      aspect-ratio: 1;
      border-radius: 10px;
      box-shadow: 0px 0px 10px gray;
      overflow: hidden;

      @include md {
        width: 47%;
      }

      @include sm {
        width: 100%;
      }

      .category-block {
        width: 100%;
        aspect-ratio: 1;
      }
    }
  }
}
